<style type="text/css">
    body{
        padding: 20px;
        font-family: "arial";
    }
	.scheduler-wrapper table{
		width: 100%;
		display: inline-table;
        border-spacing: 0;
	}
	.scheduler-wrapper table tbody tr td,
	.scheduler-wrapper table thead tr th{
	display: inline-block;
		min-height: 30px;
		text-align: center;
		padding: 0;
        height: 100%;
        background: url("pixel2.png") repeat-y;
        background-position: top right;
        border-bottom:none;
    }

    .scheduler-wrapper table thead tr th{
        display: inline-block;
        min-height: 30px;
        text-align: right;
        padding: 0;
        height: 100%;
        font-size: 12px;
    }
    .scheduler-wrapper table thead tr th .hoursLabel{
        margin-right: -15px;
    }

	.scheduler-wrapper table tbody tr .blockHolder{
		min-height: 70px;
		display: block;
		position: relative;

	}
	.scheduler-wrapper table tbody tr .block{
        padding: 5px;
        margin: 5px 0 5px 0;
        height: 60px;
background-color: lightskyblue;
        display: block;
        position: absolute;
        font-size: 12px;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
	}
	.scheduler-wrapper table tbody tr .block:hover{
		background-color: #39e7ff;
	}
</style>
<div class="scheduler-wrapper">
	<table class="table"  border="0" cellpadding="0" cellspacing="0" >
		<thead>
		<tr>
			<th style="{{cellWidth}}"></th>
			<th style="{{cellWidth}}" ng-repeat="hour in hours">
                <div class="innerFrame hoursLabel">
                    {{hour}}
                </div>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="day in data.days track by $index">
			<td style="{{cellWidth}}">{{day.name}}</td>
			<td style="{{cellWidth}}">
				<div class="blockHolder" ng-repeat="event in day.events track by $index" style="{{buildBlockStyle(event)}}">
                    <div class="block">
						<b>{{event.title}}</b>
                        <p>
                           <span>{{event.startTime}} - {{event.endTime}}</span><br>
                            <i>חדר לייד מדרגות</i>
                        </p>

					</div>
				</div>
			</td>
			<td ng-repeat="h in getCount(hours.length-1) track by $index" style="{{cellWidth}}"></td>

		</tr>


		</tbody>
	</table>
</div>