<style type="text/css">
    body {
        padding: 20px;
        font-family: "arial";
    }

    .scheduler-wrapper table {
        width: 100%;
        display: inline-table;
        border-spacing: 0;
    }

    .scheduler-wrapper table tbody tr td,
    .scheduler-wrapper table thead tr th {
        display: inline-block;
        min-height: 30px;
        text-align: center;
        padding: 0;
        height: 100%;
        background: url("pixel2.png") repeat-y;
        background-position: top right;
        border-bottom: none;
    }

    .scheduler-wrapper table thead tr th {
        display: inline-block;
        min-height: 30px;
        text-align: right;
        padding: 0;
        height: 100%;
        font-size: 12px;
    }

    .scheduler-wrapper table thead tr th .hoursLabel {
        margin-right: -15px;
    }

    .scheduler-wrapper table tbody tr .blockHolder {
        min-height: 70px;
        display: block;
        position: relative;

    }

    .scheduler-wrapper table tbody tr .block {
        padding: 5px;
        margin: 5px 0 5px 0;
        height: 60px;
        background-color: rgb(207, 229, 242);
        display: block;
        position: absolute;
        font-size: 12px;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        -webkit-transition-property: all; /* Safari */
        -webkit-transition-duration: 0.4s; /* Safari */
        -webkit-transition-delay: 0.6s; /* Safari */
        transition-property: all;
        transition-duration: 0.4s;
        transition-delay: 0.6s;
        box-shadow: inset 0 0px 2px rgb(132, 200, 240);
    }

    .scheduler-wrapper table tbody tr .block:hover {
        background-color: rgb(170, 192, 205);
        height: 200px;
        z-index: 999999;
        box-shadow: 0px 0px 8px rgb(21, 78, 108);
    }

    .scheduler-wrapper table tbody tr.today {
        background-color: rgb(221, 233, 240);
    }

    .scheduler-wrapper-block-content {
        width: 80%;
        margin-left: 20%;
        text-align: right;
        font-size: 11px;
    }

    .scheduler-wrapper-menu {
        min-width: 30px;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
    }

    .scheduler-wrapper-menu-left {
        width: 10%;
        display: inline;
        float: right;
        text-align: left;
    }

    .scheduler-wrapper-menu-mid {
        width: 80%;
        display: inline;
        float: right;
        text-align: center;
        line-height: 35px;
    }

    .scheduler-wrapper-menu-right {
        width: 10%;
        display: inline;
        float: left;
        text-align: right;
    }

    .scheduler-wrapper-label {
        position: absolute;
        left: 3px;
        background-color: #ffffff;
        color: #45ABD8;
        font-size: 10px;
        padding: 2px;
        width: 19px;
        height: 17px;
        border-radius: 39px;
    }

    .scheduler-wrapper-menu-ok {
        top: 2px;
    }

    .scheduler-wrapper-label-space-left {
        top: 25px;

    }
    .scheduler-wrapper-label-down{
        top: -10px;
        font-size: 9px;
        left: 49%;
        position: absolute;
        color: #ffffff;
    }
    .scheduler-wrapper-relative{
        position: relative;
    }
    .scheduler-wrapper-overlay{
        position: fixed;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.5;
        z-index: 9999999;
    }
    .scheduler-wrapper-popup{
        z-index: 99999991;
        display: block;
        top:20%
    }
    .scheduler-wrapper-popup .close{
        float: left;
    }

    .scheduler-wrapper-popup .modal-body img{
        float: left;
        width: 191px;
        margin: 0 50px 10px 0;
    }

</style>
<div class="scheduler-wrapper">
    <div ng-show="selectedEvent" class="scheduler-wrapper-overlay"></div>
    <div ng-show="selectedEvent" class="modal scheduler-wrapper-popup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="deSelect()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">{{selectedEvent.title}}</h4>
                </div>
                <div class="modal-body">
                    <h3>{{selectedEvent.title}}</h3>
                    <img ng-if="selectedEvent.img" src="{{selectedEvent.img}}" alt=""/>
                    <p>
                        {{selectedEvent.location}} <br>
                    </p>
                    <p>
                        {{selectedEvent.about}}
                    </p>
                    <div class="panel panel-default">

                        <div class="panel-body">
                           <p>
                               <b>Admin View</b>
                               <select ng-model="selectedEvent.start">
                                   <option  ng-repeat="h in hoursWithHalfs" value="{{h.key}}">{{h.value}}</option>
                               </select>
                               <!--<input style="width: 40px;" type="text" ng-model="selectedEvent.duration">-->


                               <input style="width: 40px;"  step="15" type="number" ng-model="selectedEvent.duration.m">
                               <input style="width: 40px;"  type="number" ng-model="selectedEvent.duration.h">
                           </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="deSelect()" class="btn btn-default" >סגור</button>
                    <button type="button" ng-show="!selectedEvent.isSubscribed" class="btn btn-primary">הרשם לאירועה</button>
                    <button type="button" ng-show="selectedEvent.isSubscribed" class="btn btn-warning">בטל אירועה</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="scheduler-wrapper-menu">
        <div class="scheduler-wrapper-menu-left">
            <a class="btn btn-primary" ng-click="prevWeek()" ng-disabled="cursor==0">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        </div>
        <div class="scheduler-wrapper-menu-mid">
            <b>{{data.week}}</b>
        </div>
       <div class="scheduler-wrapper-menu-right">
           <a class="btn btn-primary" ng-disabled="events.length-1==cursor" ng-click="nextWeek()">
               <i class="glyphicon glyphicon-chevron-left"></i>
           </a>
       </div>
    </div>
    <table class="table" border="0" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th style="{{cellWidth}}"></th>
            <th style="{{cellWidth}}" ng-repeat="hour in hours">
                <div class="innerFrame hoursLabel">
                    {{hour}}
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="day in data.days track by $index" ng-class="{'today': dayOfWeek ==day.day && currentWeek==data.week}">
            <td style="{{cellWidth}}">{{day.name}}</td>
            <td style="{{cellWidth}}">
                <div class="blockHolder" ng-repeat="event in day.events track by $index"
                     style="{{buildBlockStyle(event)}}">
                    <div class="block" ng-click="onSelect(event)">
                        <div ng-show="event.isSubscribed" class="scheduler-wrapper-menu-ok scheduler-wrapper-label">
                            <i class="glyphicon glyphicon-ok"></i>
                        </div>
                        <span class="scheduler-wrapper-label-space-left scheduler-wrapper-label">
                            23
                        </span>

                        <p class="scheduler-wrapper-block-content">
                            <b>{{event.title}}</b><br>
                            <span>{{event.startTime}} - {{event.endTime}}</span><br>
                            <i>חדר לייד מדרגות</i>
                        </p>

                        <p class="scheduler-wrapper-relative">
                            <i class="glyphicon glyphicon-chevron-down scheduler-wrapper-label-down"></i>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cupiditate dolor
                            dolorem dolorum fuga fugiat nihil, omnis perferendis, placeat, possimus quis quisquam saepe
                            sequi suscipit velit! Delectus, placeat quisquam! Aspernatur.
                        </p>
                    </div>
                </div>
            </td>
            <td ng-repeat="h in getCount(hours.length-1) track by $index" style="{{cellWidth}}"></td>

        </tr>


        </tbody>
    </table>
</div>